App_WebReferences/SyncScheduleServiceRef/SyncScheduleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://ektron.com/scheduleservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://ektron.com/scheduleservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ektron.com/scheduleservice/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SyncScheduleService.svc?xsd=xsd0" namespace="http://ektron.com/scheduleservice" />
      <xsd:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SyncScheduleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScheduleService_ScheduleSync_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleSync" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_ScheduleSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleSyncResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_ScheduleAllSync_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleAllSync" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_ScheduleAllSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleAllSyncResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_DeleteScheduleSync_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleSync" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_DeleteScheduleSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleSyncResponse" />
  </wsdl:message>
  <wsdl:portType name="IScheduleService">
    <wsdl:operation name="ScheduleSync">
      <wsdl:input wsaw:Action="http://ektron.com/scheduleservice/IScheduleService/ScheduleSync" message="tns:IScheduleService_ScheduleSync_InputMessage" />
      <wsdl:output wsaw:Action="http://ektron.com/scheduleservice/IScheduleService/ScheduleSyncResponse" message="tns:IScheduleService_ScheduleSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleAllSync">
      <wsdl:input wsaw:Action="http://ektron.com/scheduleservice/IScheduleService/ScheduleAllSync" message="tns:IScheduleService_ScheduleAllSync_InputMessage" />
      <wsdl:output wsaw:Action="http://ektron.com/scheduleservice/IScheduleService/ScheduleAllSyncResponse" message="tns:IScheduleService_ScheduleAllSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteScheduleSync">
      <wsdl:input wsaw:Action="http://ektron.com/scheduleservice/IScheduleService/DeleteScheduleSync" message="tns:IScheduleService_DeleteScheduleSync_InputMessage" />
      <wsdl:output wsaw:Action="http://ektron.com/scheduleservice/IScheduleService/DeleteScheduleSyncResponse" message="tns:IScheduleService_DeleteScheduleSync_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>