Workarea/ContentDesigner/CmsDataList.xsd

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CmsDataList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ol"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ol">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="li" minOccurs="2" maxOccurs="unbounded">
	        <xs:complexType mixed="true">
	          <xs:attribute name="title" type="xs:string" />
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>
