App_WebReferences/SiteCommunicationServiceRef/SiteCommunicationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SiteCommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ektron.Sync.SyncServices" />
  <xs:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SiteCommunicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ektron.FileSync.Common" />
  <xs:element name="GetAllCMSSitesInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCMSSitesInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ektron.Sync.SyncServices" minOccurs="0" name="GetAllCMSSitesInformationResult" nillable="true" type="q1:ArrayOfSiteConfigurationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMSSiteInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMSSiteInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ektron.Sync.SyncServices" minOccurs="0" name="GetCMSSiteInformationResult" nillable="true" type="q2:SiteConfigurationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ektron.FileSync.Common" minOccurs="0" name="GetServerInfoResult" nillable="true" type="q3:SyncServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ektron.FileSync.Common" minOccurs="0" name="serverInfo" nillable="true" type="q4:SyncServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServerInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>