App_WebReferences/SiteCommunicationServiceRef/SiteCommunicationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ektron.Sync.SyncServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ektron.Sync.SyncServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSiteConfigurationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteConfigurationData" nillable="true" type="tns:SiteConfigurationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteConfigurationData" nillable="true" type="tns:ArrayOfSiteConfigurationData" />
  <xs:complexType name="SiteConfigurationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetLibraryPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetsPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnectionInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateAssetsPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateCatalog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishCatalog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SitePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadedFilesPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadedImagesPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkareaPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteConfigurationData" nillable="true" type="tns:SiteConfigurationData" />
</xs:schema>