App_WebReferences/SiteCommunicationServiceRef/SiteCommunicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SiteCommunicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SiteCommunicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SiteCommunicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SiteCommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ektron.Sync.SyncServices" />
      <xsd:import schemaLocation="http://localhost:8732/Ektron.Sync.SyncServices/SiteCommunicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ektron.FileSync.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISiteCommunication_GetAllCMSSitesInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCMSSitesInformation" />
  </wsdl:message>
  <wsdl:message name="ISiteCommunication_GetAllCMSSitesInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCMSSitesInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteCommunication_GetCMSSiteInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCMSSiteInformation" />
  </wsdl:message>
  <wsdl:message name="ISiteCommunication_GetCMSSiteInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCMSSiteInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteCommunication_GetServerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfo" />
  </wsdl:message>
  <wsdl:message name="ISiteCommunication_GetServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteCommunication_UpdateServerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServerInfo" />
  </wsdl:message>
  <wsdl:message name="ISiteCommunication_UpdateServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServerInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISiteCommunication">
    <wsdl:operation name="GetAllCMSSitesInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteCommunication/GetAllCMSSitesInformation" message="tns:ISiteCommunication_GetAllCMSSitesInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteCommunication/GetAllCMSSitesInformationResponse" message="tns:ISiteCommunication_GetAllCMSSitesInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCMSSiteInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteCommunication/GetCMSSiteInformation" message="tns:ISiteCommunication_GetCMSSiteInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteCommunication/GetCMSSiteInformationResponse" message="tns:ISiteCommunication_GetCMSSiteInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteCommunication/GetServerInfo" message="tns:ISiteCommunication_GetServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteCommunication/GetServerInfoResponse" message="tns:ISiteCommunication_GetServerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteCommunication/UpdateServerInfo" message="tns:ISiteCommunication_UpdateServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteCommunication/UpdateServerInfoResponse" message="tns:ISiteCommunication_UpdateServerInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpSiteCommunicationServiceEndPoint" type="tns:ISiteCommunication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCMSSitesInformation">
      <soap:operation soapAction="http://tempuri.org/ISiteCommunication/GetAllCMSSitesInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCMSSiteInformation">
      <soap:operation soapAction="http://tempuri.org/ISiteCommunication/GetCMSSiteInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <soap:operation soapAction="http://tempuri.org/ISiteCommunication/GetServerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServerInfo">
      <soap:operation soapAction="http://tempuri.org/ISiteCommunication/UpdateServerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteCommunicationService">
    <wsdl:port name="httpSiteCommunicationServiceEndPoint" binding="tns:httpSiteCommunicationServiceEndPoint">
      <soap:address location="http://localhost:8732/Ektron.Sync.SyncServices/SiteCommunicationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>